h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: black;
    font-size: 80px;
    color: rgb(69, 151, 179);
    font-weight: bold;
    margin-top: 70px;
}
#num1,#num2{
height: 40px;
width: 300px;
border: 2px rgb(71, 149, 175) solid;
border-radius: 9px;
margin-bottom: 100px;
margin-right: 240px;
background-color: whitesmoke;
padding-right: 20px;
font-size: 15px;
}
button{
border: 2px rgb(71, 149, 175) solid;
border-radius: 10px;
height: 40px;
width: 130px;
background-color: whitesmoke;
margin-right: 170px;
font-size: 20px;
/* font-weight: bold; */
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
cursor: pointer;
margin-bottom: 70px;
}
/* .calculater{
    background-color: lavender;
    height: 500px;
} */
 body{
    background-color: rgb(232, 232, 245);
 }
 .head img{
    height: 70px;
    width: 70px;
    margin: 90px;
 }
 .head{
    display: flex;
    flex-direction:  row;
    gap: 50px;
    padding-right: 230px;
 }
.image img{
    height: 70px;
    width: 70px;
    margin-top: 60px;
}
.image{
    display: flex;
    flex-direction:  row;
    gap: 1125px;
    padding-right: 45px;
}
#result{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
 
